
{% extends "layout.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RACQ Form</title>
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
</head>
<body>
    <div class="popup">
        <div class="popup-content">
            <h2>INFORMATION</h2>
            <p>Always the aim is show the information needed to perform the action, but no more to avoid clutter.</p>
            <form method="post">
                <div class="form-group">
                    <label for="age">AGE</label>
                    <input type="text" id="age" name="age">
                </div>
                <div class="form-group">
                    <label for="license-type">License type</label>
                    <input type="text" id="license-type" name="license-type">
                </div>
                <div class="form-group">
                    <label for="sex">Sex</label>
                    <input type="text" id="sex" name="sex">
                </div>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</body>
</html>